---
title: Projects
layout: default
---
<section>
  <h1 class="mb-2">Projects</h1>
  <div class="flex flex-col gap-4">
    <a
      href="/coforma-2025-impact-report.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Building and Annual Impact Reporting Practice — multimedia content system and executive storytelling
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/honor-the-air-land-water.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Honor the Air, Land, and Water — event-led, social-first, documentary storytelling
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/humans-of-public-service.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Humans of Public Service — interview-driven public-service video series
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/scaling-language-access-with-ai.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Scaling Language Access With AI — public benefits, AI, language access, content strategy
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/long-covid-healthathon.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Long COVID Healthathon - public health campaign, virtual events, paid/social engagement
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/honor-the-air-land-water.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Ragan HR Communicator Award - archival edit, narrative structure, award storytelling
      </h2>
    </a>
  </div>

</section>

<!--
    {% for project in projects %}
      {% include project_card.html project=project %}
    {% endfor %}
-->