---
title: Projects
layout: default
---
<section>
  <h1 class="mb-2">Projects</h1>
  <div class="flex flex-col gap-4">
    <a
      href="/coforma-2025-impact-report.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Coforma 2025 Impact Report - Building and Annual Impact Reporting Practice
      </h2>
    </a>
  </div>

  <div class="flex flex-col gap-4">
    <a
      href="/honor-the-air-land-water.html"
      class="border border-gray-200 px-6 py-4 rounded-lg cursor-pointer no-underline hover:border-gray-300"
    >
      <h2>
        Honor the Air, Land, and Water - Turning a Public Art Installation Into a Multimedia Storytelling Campaign
      </h2>
    </a>
  </div>
</section>

<!--
    {% for project in projects %}
      {% include project_card.html project=project %}
    {% endfor %}
-->